# Java's broke ass shit
export AWT_TOOLKIT=MToolkit
export _JAVA_AWT_WM_NONREPARENTING=1

export DIFFPROG="nvim -d"

export XDG_CONFIG_HOME="$HOME/.config"
export NODE_PATH="$(command -v node)"
export GOPATH="$HOME/go/"
export GOBIN="$HOME/go/bin/"
export PATH="$HOME/.nimble/bin:$HOME/.local/opt/pso:$PATH:$GOBIN:$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$HOME/.local/bin/"
export QT_AUTO_SCREEN_SCALE_FACTOR=0

export EDITOR=nvim
export VISUAL=nvim
export BROWSER=qutebrowser
export _KDECONNECT_DEFAULT_DEVICE="bb89add356ad357b"
export BATTERY="$(cat $HOME/.battery)"

dxhd &
nimdowstatus &
compton --config ~/.config/compton/compton.conf &
dunst &
unclutter &
$HOME/.fehbg &
weather-daemon 300 &

nm-applet &
pasystray &

xset r rate 300 30

