# Used for parsec https://support.parsec.app/hc/en-us/articles/115002699032-Linux-Ubuntu-18-04
# Also for hw acceleration for kdenlive rendering
export LIBVA_DRIVER_NAME=radeonsi

# Java's broke ass shit
export AWT_TOOLKIT=MToolkit
export _JAVA_AWT_WM_NONREPARENTING=1

export GTK_THEME='Ant-Dracula'
# QT sucks ass
export QT_QPA_PLATFORMTHEME='qt5ct'

export DIFFPROG="nvim -d"

export XDG_CONFIG_HOME="$HOME/.config"
export NODE_PATH="$(command -v node)"
export PATH="$HOME/.nimble/bin:$HOME/.local/bin/:$HOME/.cargo/bin/:$PATH"
export QT_AUTO_SCREEN_SCALE_FACTOR=0

export EDITOR=nvim
export VISUAL=nvim
export BROWSER=brave
export _KDECONNECT_DEFAULT_DEVICE="bb89add356ad357b"
export BATTERY="$(cat $HOME/.battery)"

export GITHUB_TOKEN="$(cat ~/.github/pat)"

