.compact .message .markup {
  background-color: #1c1b19;
}

.compact .message .markup .timestamp {
  background-color: #1c1b19;
}

.theme-dark .container-1r6BKw {
  background-color: #1c1b19;
}

.theme-dark .children-19S4PO:after {
  visibility: hidden;
}

.theme-dark .searchBar-3dMhjb {
  background-color: #2d2c29;
}

.searchBar-6Kv8R2 {
  background-color: #1c1b19;
}

.scroller-2TZvBN {
  background-color: #1c1b19;
}

.scroller-2wx7Hm {
  background-color: #1c1b19;
}

.hasDropdown-2invhV.container-2Rl01u,
.hasDropdown-2invhV .header-2o-2hj {
  background-color: #1c1b19;
}

.theme-dark .menu-Sp6bN1 {
  background-color: #1c1b19;
}

.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU,
.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU,
.theme-light .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU,
.theme-light .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU {
  background-color: #2d2c29;
}

.scroller-2FKFPG {
  background-color: #1c1b19;
}

.theme-dark .isMentioned-N-h9aa {
  background-color: #2d2c29;
}

.theme-dark .chat-3bRxxu,
.theme-dark .chat-3bRxxu form,
.theme-dark .content-yTz4x3 {
  background-color: #1c1b19;
}

.theme-dark .inner-zqa7da {
  background-color: #2d2c29;
}

.theme-dark .container-2Thooq,
.theme-light .container-2Thooq {
  background-color: #1c1b19;
  margin-bottom: 0;
}

.listItem-2P_4kh,
.channel-2QD9_O.selected-1HYmZZ a {
  background-color: #1c1b19;
}

.input-1Rv96N,
.circleIconButton-jET_ig,
.theme-dark .acronym-2mOFsV,
.theme-light .acronym-2mOFsV,
.theme-dark .button-OhfaWu,
.theme-light .button-OhfaWu {
  background-color: #2d2c29;
}

.theme-dark .base-1x0h_U {
}

.theme-dark .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.theme-dark .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover,
.theme-dark .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.theme-dark .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover {
  background-color: #1c1b19;
}

.theme-dark .container-3gCOGc,
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d,
.theme-dark .members-1998pB {
  background-color: #1c1b19;
}

.tabBar-1E2ExX .primary-3j8BhM {
  background-color: #519f50 !important;
}

.theme-dark
  .scrollerThemed-2oenus.themedWithTrack-q8E3vB
  .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: #1c1b19;
  border: none;
}

.theme-dark
  .scrollerThemed-2oenus.themedWithTrack-q8E3vB
  .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: #2d2c29;
  border: none;
}

.inner-1W0Bkn {
  border-radius: 0;
}

.theme-dark .member-3W1lQa.popout-open .content-OzHfo4,
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
  background-color: #2d2c29;
}
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
  background-color: #2d2c29;
}

.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6,
.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6 {
  background-color: #1c1b19;
}

.headerPlaying-j0WQBV {
  background-color: #1c1b19;
}

.theme-dark .headerNormal-T_seeN {
  background-color: #1c1b19;
}

.userPopout-3XzG_A {
  border: 1px solid #519f50;
}

.theme-dark .quickMessage-1yeL4E {
  background-color: #2d2c29;
}

.theme-dark .icon-1_QxNX,
.theme-light .icon-1_QxNX {
  color: #2d2c29;
}

.theme-dark .markup-2BOw-j code,
.theme-dark .markup-2BOw-j code.inline {
  background-color: #2d2c29;
}

.container-1UB9sr {
  background-color: #1c1b19;
}

.callAvatar-v-u4BM.voice-2D-tt_ {
  border-radius: 0;
}

.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI {
  border-radius: 0;
}
