<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="Android Studio"> <action name="Execute">
                <execute>android-studio</execute>
            </action> </item>
            <item label="CMake"> <action name="Execute">
                <execute>cmake-gui</execute>
            </action> </item>
            <item label="CMake curses GUI (ccmake)"> <action name="Execute">
                <execute>xterm -e ccmake</execute>
            </action> </item>
            <item label="Electron"> <action name="Execute">
                <execute>electron</execute>
            </action> </item>
            <item label="IDEA"> <action name="Execute">
                <execute>idea</execute>
            </action> </item>
            <item label="IDLE (Python IDE)"> <action name="Execute">
                <execute>idle</execute>
            </action> </item>
            <item label="Python"> <action name="Execute">
                <execute>xterm -e python</execute>
            </action> </item>
            <item label="Python (v2.7)"> <action name="Execute">
                <execute>xterm -e python2.7</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Leafpad"> <action name="Execute">
                <execute>leafpad</execute>
            </action> </item>
            <item label="Nano"> <action name="Execute">
                <execute>xterm -e nano</execute>
            </action> </item>
            <item label="Vi"> <action name="Execute">
                <execute>xterm -e vi</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>xterm -e vim</execute>
            </action> </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="9" label="Adventure">
                <item label="Sclient"> <action name="Execute">
                    <execute>sclient</execute>
                </action> </item>
            </menu>
            <menu id="10" label="Arcade">
                <item label="PacMan"> <action name="Execute">
                    <execute>pacman</execute>
                </action> </item>
            </menu>
            <menu id="11" label="Board">
                <item label="Monopoly"> <action name="Execute">
                    <execute>xterm -e monop</execute>
                </action> </item>
            </menu>
            <item label="League of Legends"> <action name="Execute">
                <execute>lutris lutris:rungameid/1</execute>
            </action> </item>
            <item label="Lutris"> <action name="Execute">
                <execute>lutris</execute>
            </action> </item>
            <item label="RuneLite"> <action name="Execute">
                <execute>runelite</execute>
            </action> </item>
        </menu>
        <menu id="6" label="Graphics">
            <item label="Krita KDE Bitmap Graphics Editor"> <action name="Execute">
                <execute>krita</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="Ardour"> <action name="Execute">
                <execute>ardour5</execute>
            </action> </item>
            <item label="GNOME ALSA Mixer"> <action name="Execute">
                <execute>gnome-alsamixer</execute>
            </action> </item>
            <item label="PulseAudio Volume Control"> <action name="Execute">
                <execute>pavucontrol</execute>
            </action> </item>
            <item label="Qt V4L2 test Utility"> <action name="Execute">
                <execute>qv4l2</execute>
            </action> </item>
            <item label="VLC media player"> <action name="Execute">
                <execute>vlc</execute>
            </action> </item>
            <item label="VLC media player"> <action name="Execute">
                <execute>qvlc</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Avahi SSH Server Browser"> <action name="Execute">
                <execute>bssh</execute>
            </action> </item>
            <item label="Avahi VNC Server Browser"> <action name="Execute">
                <execute>bvnc</execute>
            </action> </item>
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
            </action> </item>
            <item label="FTP"> <action name="Execute">
                <execute>xterm -e ftp</execute>
            </action> </item>
            <item label="Mail"> <action name="Execute">
                <execute>xterm -e mail</execute>
            </action> </item>
            <item label="Mail Reader"> <action name="Execute">
                <execute>exo-open --launch MailReader</execute>
            </action> </item>
            <item label="Protonmail Desktop"> <action name="Execute">
                <execute>protonmail-desktop</execute>
            </action> </item>
            <item label="Talk"> <action name="Execute">
                <execute>xterm -e talk</execute>
            </action> </item>
            <item label="TeamViewer 13"> <action name="Execute">
                <execute>teamviewer</execute>
            </action> </item>
            <item label="Telnet"> <action name="Execute">
                <execute>xterm -e telnet</execute>
            </action> </item>
            <item label="TkVNC"> <action name="Execute">
                <execute>xterm -e tkvnc</execute>
            </action> </item>
            <item label="Web Browser"> <action name="Execute">
                <execute>exo-open --launch WebBrowser</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="PostgreSQL Database"> <action name="Execute">
                <execute>xterm -e psql template1</execute>
            </action> </item>
        </menu>
        <menu id="39" label="Other">
            <item label="NVIDIA X Server Settings"> <action name="Execute">
                <execute>nvidia-settings</execute>
            </action> </item>
        </menu>
        <menu id="4" label="Science">
            <item label="bc"> <action name="Execute">
                <execute>xterm -e bc</execute>
            </action> </item>
            <item label="dc"> <action name="Execute">
                <execute>xterm -e dc</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="File Manager PCManFM"> <action name="Execute">
                <execute>pcmanfm</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>xterm -e git</execute>
            </action> </item>
            <item label="Thunar File Manager"> <action name="Execute">
                <execute>thunar</execute>
            </action> </item>
            <item label="UXTerm"> <action name="Execute">
                <execute>uxterm</execute>
            </action> </item>
            <item label="Xfce Terminal"> <action name="Execute">
                <execute>xfce4-terminal</execute>
            </action> </item>
            <item label="Xterm"> <action name="Execute">
                <execute>xterm</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="About Me"> <action name="Execute">
                        <execute>mugshot</execute>
                    </action> </item>
                </menu>
                <menu id="35" label="Xfce">
                    <item label="Settings Manager"> <action name="Execute">
                        <execute>xfce4-settings-manager</execute>
                    </action> </item>
                </menu>
                <item label="Accessibility"> <action name="Execute">
                    <execute>xfce4-accessibility-settings</execute>
                </action> </item>
                <item label="Appearance"> <action name="Execute">
                    <execute>xfce4-appearance-settings</execute>
                </action> </item>
                <item label="Desktop"> <action name="Execute">
                    <execute>xfdesktop-settings</execute>
                </action> </item>
                <item label="Desktop Preferences"> <action name="Execute">
                    <execute>pcmanfm --desktop-pref</execute>
                </action> </item>
                <item label="Display"> <action name="Execute">
                    <execute>xfce4-display-settings</execute>
                </action> </item>
                <item label="File Manager"> <action name="Execute">
                    <execute>thunar-settings</execute>
                </action> </item>
                <item label="Keyboard"> <action name="Execute">
                    <execute>xfce4-keyboard-settings</execute>
                </action> </item>
                <item label="Manage Printing"> <action name="Execute">
                    <execute>xdg-open http://localhost:631/</execute>
                </action> </item>
                <item label="MIME Type Editor"> <action name="Execute">
                    <execute>xfce4-mime-settings</execute>
                </action> </item>
                <item label="Mouse and Touchpad"> <action name="Execute">
                    <execute>xfce4-mouse-settings</execute>
                </action> </item>
                <item label="nitrogen"> <action name="Execute">
                    <execute>nitrogen</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Panel"> <action name="Execute">
                    <execute>xfce4-panel --preferences</execute>
                </action> </item>
                <item label="Power Manager"> <action name="Execute">
                    <execute>xfce4-power-manager-settings</execute>
                </action> </item>
                <item label="Preferred Applications"> <action name="Execute">
                    <execute>libfm-pref-apps</execute>
                </action> </item>
                <item label="Preferred Applications"> <action name="Execute">
                    <execute>exo-preferred-applications</execute>
                </action> </item>
                <item label="Session and Startup"> <action name="Execute">
                    <execute>xfce4-session-settings</execute>
                </action> </item>
                <item label="Settings Editor"> <action name="Execute">
                    <execute>xfce4-settings-editor</execute>
                </action> </item>
                <item label="Tint2 Settings"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
                <item label="Window Manager"> <action name="Execute">
                    <execute>xfwm4-settings</execute>
                </action> </item>
                <item label="Window Manager Tweaks"> <action name="Execute">
                    <execute>xfwm4-tweaks-settings</execute>
                </action> </item>
                <item label="Workspaces"> <action name="Execute">
                    <execute>xfwm4-workspace-settings</execute>
                </action> </item>
                <item label="Xfce Terminal"> <action name="Execute">
                    <execute>xfce4-terminal --preferences</execute>
                </action> </item>
            </menu>
            <item label="Avahi Zeroconf Browser"> <action name="Execute">
                <execute>avahi-discover</execute>
            </action> </item>
            <item label="Bulk Rename"> <action name="Execute">
                <execute>/usr/lib/Thunar/ThunarBulkRename</execute>
            </action> </item>
            <item label="dconf Editor"> <action name="Execute">
                <execute>dconf-editor</execute>
            </action> </item>
            <item label="Htop"> <action name="Execute">
                <execute>xterm -e htop</execute>
            </action> </item>
            <item label="Log Out"> <action name="Execute">
                <execute>xfce4-session-logout</execute>
            </action> </item>
            <item label="OpenJDK Java 10 Console"> <action name="Execute">
                <execute>/usr/lib/jvm/java-10-openjdk/bin/jconsole</execute>
            </action> </item>
            <item label="OpenJDK Java 10 Shell"> <action name="Execute">
                <execute>xterm -e /usr/lib/jvm/java-10-openjdk/bin/jshell</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e /usr/bin/pstree.x11</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e pstree</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e pstree.x11</execute>
            </action> </item>
            <item label="Tint2"> <action name="Execute">
                <execute>tint2</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>xterm -e top</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="About Xfce"> <action name="Execute">
                <execute>xfce4-about</execute>
            </action> </item>
            <item label="Application Finder"> <action name="Execute">
                <execute>xfce4-appfinder</execute>
            </action> </item>
            <item label="File Manager"> <action name="Execute">
                <execute>exo-open --launch FileManager</execute>
            </action> </item>
            <item label="Info"> <action name="Execute">
                <execute>xterm -e info</execute>
            </action> </item>
            <item label="KeePass Password Safe"> <action name="Execute">
                <execute>keepass</execute>
            </action> </item>
            <item label="Run Program..."> <action name="Execute">
                <execute>xfce4-appfinder --collapsed</execute>
            </action> </item>
            <item label="Terminal Emulator"> <action name="Execute">
                <execute>exo-open --launch TerminalEmulator</execute>
            </action> </item>
            <item label="Winetricks"> <action name="Execute">
                <execute>winetricks --gui</execute>
            </action> </item>
            <item label="Xarchiver"> <action name="Execute">
                <execute>xarchiver</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
